 <section class="text-center container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Каталог магазина</h1>
                <p class="lead text-body-secondary">Тысяча мелочей</p>
               <!-- <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#"
                       class="btn btn-secondary my-2">Secondary
                        action</a>
                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:products_create' %}"  role="button">Создать продукт</a>

                </div>
                -->


            </div>
        </div>
    </section>
