{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">

    <!-- Пагинация -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Навигация по страницам">
            <ul class="pagination justify-content-center">

                <!-- Кнопка «Предыдущая» -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% endif %}

                <!-- Номера страниц -->
                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}


                <!-- Кнопка «Следующая» -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}


    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}  <!-- Используем products.object_list -->
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-img-top-wrapper" style="height: 350px;">
                        <img src="{{ product.image|medis_filter }}"
                         class="img-fluid"
                         alt="{{ product.name }}"
                         style="height: 100%; object-fit: cover;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'catalog:products_detail' product.pk %}">О товаре</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}
