{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">

    <!-- Пагинация -->
    <div >
        {% if is_paginated %}
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if object.has_previous %}  <!-- Здесь используем object вместо page_obj -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ object.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                {% endif %}

                {% for page in object.paginator.page_range %}  <!-- Здесь object -->
                {% if page == object.number %}  <!-- Здесь object -->
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if object.has_next %}  <!-- Здесь object -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ object.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object.object_list %}  <!-- Используем object.object_list -->
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image|medis_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'catalog:object_detail' product.pk %}">О товаре</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}
